# Dependencies
node_modules/

# Environment variables
.env

# Firebase Admin SDK key (VERY IMPORTANT)
serviceAccountKey.json

# Logs
logs
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
.vscode/
.idea/
